%br
=form_for @user, url: login_path, html: {class:"form-signin"} do | f |
  %br
  %h2.form-sigin-heading Login

  =f.text_field :email, class: "form-control", type: "email", autofocus: "", required: "", placeholder: "Email Address"
  %br

  =f.text_field :password, class: "form-control", type: "password", required: "", placeholder: "Password"
  %br
  %button.btn.btn-lg.btn-primary.btn-block{type:"submit"} Login