%h3 Login
=application_helper
=game_helper
=form_for @user,url: login_path, html:{class:"table"} do | form |
  %table
    %tbody
      %tr
        %td
          =form.label "Email"
        %td
          =form.text_field :email
      %tr
        %td
          =form.label "Password"
        %td
          =form.password_field :password
      %tr
        %td
          .btm.btn-default
            =form.submit "Login"
