.col-md-4.col-sm-4
  %h3 Update Tournament
  =form_for @tournament, url: game_tournament_path(@tournament.game.id, @tournament.id) do | form |
    =form.label "Name"
    =form.text_field :name, class: "form-control"
    %br
    =form.submit class: "btn btn-sm btn-primary"
