.modal.fade#delete-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h2 Delete
      .modal-body
        %p Do you want to delete?
      .modal-footer
        %a{type: "button",  href:"", class: "btn btn-default", 'data-dismiss':"modal"} No 
        %a{id:"delete-modal-link", "data-method" => :delete, type: "button", href:"#{partial_url_without_id}", class: "btn btn-primary"} Yes
