.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li.active
      =link_to "Home", root_path
    %li
      =link_to "New Game", new_game_path
    %li
      =link_to "New Player", new_player_path
    %li
      =link_to "Games", games_path
    %li
      =link_to "Players", players_path
    %li
      =link_to "Tournaments", tournaments_path  