=@game.errors.full_messages unless @game.errors.empty?
=form_for @game, html: {role:"form"} do | form |
  %br
  =form.label "Name" 
  =form.text_field :name, class: "form-control", placeholder: "Name"
  =form.label "Scoring Points"
  =form.text_field :scoring_points, class: "form-control"
  %br
  =form.submit class: "btn btn-sm btn-primary btn-default"
