.row
  =render partial: "shared/left_nav_bar"
  .col-md-9.col-sm-10
    =@game.errors.full_messages unless @game.errors.empty?
    %h3 Game Details
    =form_for @game, html: {role:"form"} do | form |
      =form.label "Name"
      =form.text_field :name
      =form.label "Scoring Points"
      =form.text_field :scoring_points
      %h3 Match Details
      %br
      .matches
        =form.fields_for :matches do | form |
          .match_attributes
            =form.label "Venue"
            =form.text_field :venue
            =form.label "Number of Players"
            =form.text_field :no_of_players
            %button#new_match{type: "button", class: "btn btn-default"} New Match
            %br
      %h3 Tournament Details
      %br
      =form.fields_for :tournaments do | form |
        =form.label "Name"
        =form.text_field :name
        %button#new_tournament{type: "button", class: "btn btn-default"} New Tournament
        %br
      =form.submit
