.row
  =render partial: "shared/left_nav_bar"
  .col-md-9.col-sm-10
    =@game.errors.full_messages unless @game.errors.empty?
    =form_for @game, html:{role:"form"} do | form |
      =form.label "Name"
      =form.text_field :name
      =form.label "Scoring Points"
      =form.text_field :scoring_points
      %h3 form Details
      %br
      =form.fields_for :matches do | form |
        =form.label "Venue"
        =form.text_field :venue
        %br
        =form.label "Nos of Players"
        =form.text_field :no_of_players
        %br
      %h3 Tournament Details
      %br
      =form.fields_for :tournaments do | form |
        =form.label "Name"
        =form.text_field :name
        %br
      =form.submit
