=form_for @game, html: { class: "form-inline", role: "form"} do | form |
  %br
  
  %div{ class: "form-group #{"has-error" unless @game.errors[:name].empty?}"}

    =form.label "Name" 
    %br/
    =form.text_field :name, class: "form-control", placeholder: "Name"
    -unless @game.errors[:name].empty?
      =@game.errors[:name]
  
  %br/
  
  %div{ class: "form-group #{"has-error" unless @game.errors[:scoring_points].empty?}" }
    
    =form.label "Scoring Points"
    %br/
    =form.text_field :scoring_points, class: "form-control"
    -unless @game.errors[:scoring_points].empty?
      =@game.errors[:scoring_points]
  
  %br/
  
  =form.submit class: "btn btn-sm btn-primary btn-default"
