%tr
  %td
    =game.name.capitalize
  %td
    =link_to "Edit", edit_game_path(game.id)
  %td
    =link_to "Show", game_path(game.id)
  %td
    =link_to "Delete", "#delete-modal", "data-toggle":"modal", class:"delete-game", 'data-game-id': game.id
  %td
    =link_to "Create Tournament", new_game_tournament_path(game.id)
