=render "new_or_edit",heading: "Edit Player", url: @update_link
/
  %h3 Update Player
  =form_for @player, url: @update_link do | form |
    =form.label "Name"
    =form.text_field :name, class: "form-control", autofocus:true
    %br
    =form.label "Information"
    =form.text_field :info, class: "form-control", autofocus:true
    %br
    -if @include_score
      =form.label "Score"
      =select_tag :score, @options_for_score
    =form.submit class: "btn btn-primary btn-sm"
