-if params[:game_id] && params[:match_id]

  - new_player_link   = new_game_match_player_path(params[:game_id], params[:match_id])
  - delete_modal_link = game_match_player_path(params[:game_id], params[:match_id], 0)
  - head_title        = "#{Game.find(params[:game_id]).name} , #{Match.find(params[:match_id]).name.capitalize} Players"
-elsif params[:tournament_id] && params[:match_id]

  - new_player_link   = new_tournament_match_player_path(params[:tournament_id], params[:match_id])
  - delete_modal_link = tournament_match_player_path(params[:tournament_id], params[:match_id], 0)
  - curr_tournament   = Tournament.find(params[:tournament_id])
  - head_title        = "#{curr_tournament.name}  #{curr_tournament.matches.find(params[:match_id]).name.capitalize} Players"

-else

  - new_player_link   = new_player_path
  - delete_modal_link = player_path(0)
  - head_title        = "Players"

.col-sm-9.col-md-10.main
  .row
    .col-sm-6.col-md-6
      %h3
        -if @players.empty?
          ="No Players Available"
        -else
          =head_title
    .col-sm-3.col-md-3.col-sm-offset-3.col-md-offset-3
      -if can? :create, Player
        =link_to "Add New", new_player_link, class: "btn btn-sm btn-primary"
  -unless @players.empty?
    %table.table
      %thead
        %tr
          %th Name
          -if params[:match_id]
            %th Score
      %tbody
        - @players.each do | player |
          %tr
            %td
              =player.name.capitalize
            -if params[:match_id]
              %td
                =player.scores.find_by(match_id: params[:match_id]).score
            %td
              -if can? :update, Player
                -if params[:tournament_id] && params[:match_id]
                  =link_to "Edit", edit_tournament_match_player_path(params[:tournament_id], params[:match_id], player.id)
                -elsif params[:game_id] && params[:match_id]
                  =link_to "Edit", edit_game_match_player_path(params[:game_id], params[:match_id], player.id)
                -else
                  =link_to "Edit", edit_player_path(player.id)
            %td
              -if can? :read, Player
                =link_to "Show", player_path(player.id)
            %td
              -if can? :delete, Player
                =link_to "Delete", "#delete-modal", "data-toggle":"modal", class: "delete-record", 'data-delete-id':player.id
    =will_paginate @players, renderer: BootstrapPagination::Rails
  =render partial: "/shared/delete_model",locals: {partial_url_without_id: delete_modal_link}
