.col-sm-9.col-md-10.main
  .row
    .col-sm-3.col-md-3
      %h3 Players
    .col-sm-3.col-md-3.col-sm-offset-6.col-md-offset-6
      =link_to "Create New", new_player_path, class: "btn btn-sm btn-primary"
  %table.table
    %tbody
      - @players.each do | player |
        %tr
          %td
            =player.name.capitalize
          %td
            =link_to "Edit", edit_player_path(player.id)
          %td
            =link_to "Show", player_path(player.id)
          %td
            =link_to "Delete", player_path(player.id), method: "delete"
