.row
=render partial: "shared/left_nav_bar"
.col-sm-9.col-md-10.main
  %h3 List of all players
  %table.table
    %tbody
      - @players.each do | player |
        %tr
          %td
            =player.name.capitalize
          %td
            =link_to "Edit", edit_player_path(player.id)
          %td
            =link_to "Show", player_path(player.id)
          %td
            =link_to "Delete", player_path(player.id), method: "delete"