.col-sm-9.col-md-10.main
  .row
    .col-sm-3.col-md-3
      %h3 Players
    .col-sm-3.col-md-3.col-sm-offset-6.col-md-offset-6
      =link_to "Create New", new_player_path, class: "btn btn-sm btn-primary"
  %table.table
    %tbody
      - @players.each do | player |
        %tr
          %td
            =player.name.capitalize
          %td
            =link_to "Edit", edit_player_path(player.id)
          %td
            =link_to "Show", player_path(player.id)
          %td
            /if player is deleted from game match
            -if params[:game_id] && params[:match_id]
              =link_to "Delete", game_match_player_path(params[:game_id], params[:match_id], player.id), method: "delete"
            -elsif params[:tournament_id] && params[:match_id]
              =link_to "Delete", tournament_match_player_path(params[:tournament_id], params[:match_id], player.id), method: "delete"
            -else
              =link_to "Delete", player_path(player.id), method: "delete"
