.col-md-4.col-sm-4
  %h3 Create Player
  =form_for @player do | form |
    =form.label "Name", class: "sr-only"
    =form.text_field :name, class: "form-control", placeholder: "Name", autofocus: true
    %br
    =form.label "Information", class: "sr-only"
    =form.text_field :info, class: "form-control", placeholder: "Information", autofocus: true
    %br
    =form.submit class: "btn btn-sm btn-primary"
