.col-md-4.col-sm-4
  %h3 Player Details

  %table.table
    %tbody
      %tr
        %td
          Name
        %td
          =@player.name
      %tr
        %td
          Information
        %td
          =@player.info
