=form_for @match, url: url, html: {role: "form"} do | form |
  
  / tournament match cannot exists without game so if we are creating
  / tournament match set tournament game_id as hidden
  -if @is_tournament_match 
    =form.hidden_field :game_id, value: @tournament.game.id
  
  =form.label "Name"
  =form.text_field :name, class: "form-control"
  
  =form.label "Venue"
  =form.text_field :venue, class: "form-control"
  %br

  =form.label "Played On"
  =form.text_field :played_on, 'data-provide': 'datepicker', class: "form-control"
  %br
  %br
  =form.submit class: "btn btn-sm btn-primary btn-default"
