=@match.errors.full_messages unless @match.errors.empty?
=form_for @match, url: url, html: {role: "form"} do | form |
  =form.label "Name"
  =form.text_field :name, class: "form-control"
  =form.label "Venue"
  =form.text_field :venue, class: "form-control"
  %br
  =form.submit class: "btn btn-sm btn-primary btn-default"
