=@match.errors.full_messages unless @match.errors.empty?
=form_for @match, url: url, html: {role: "form"} do | form |
  
  / match cannot exists without game so if we are creating
  / match for tournament set tournament game_id as hidden
  -if @is_tournament_match 
    =form.hidden_field :game_id, value: @tournament.game.id
  
  =form.label "Name"
  =form.text_field :name, class: "form-control"
  
  =form.label "Venue"
  =form.text_field :venue, class: "form-control"
  %br
  
  =form.submit class: "btn btn-sm btn-primary btn-default"
