.col-sm-9.col-md-10.main
  %h3 
    ="#{@matches.first.game.name.capitalize} Matches"
  %table.table
    %thead
      %tr
        %th Name
        %th Venue
        %th Played On
    %tbody
      - @matches.each do | match |
        %tr
          %td
            =match.name
          %td
            =match.venue.capitalize
          %td
            =match_date(match)
          %td
            =link_to "Edit", edit_game_match_path(match.game.id, match.id)
          %td
            =link_to "Delete", game_match_path(match.game.id, match.id), method: "delete"
